[Unit]
Description = Spring boot application quanlysinhvien

[Service]
ExecStart =/usr/bin/java -jar /server/ROOT.jar
Restart = always
Type = simple
User = root
Group = root
SuccessExitStatus = 143